header {
    background-color: #18399a;
    color: white;
}
header .col-lg-4 {
    padding: 30px;

}
header .col-lg-8 {
    padding: 30px;
}
.jumbotron {
    background-color: mediumaquamarine;
    padding: 30px;
    color: white;
}
.jumbotron img {
    width: 200px;
    height: auto;
}
.jumbotron p {
    font-size: 30px;
}
.jumbotron ul {
    font-weight: 300;
}
