body {
    font-family: 'Josefin Sans', sans-serif;
}
header {
    background-color:  #313e4f;
    color: white;
    padding: 30px;
}
.jumbotron {
    background-color: mediumaquamarine;
    color: white;
    padding: 30px;
}
.jumbotron img {
    width: 200px;
    height: auto;
}

.jumbotron p {
    font-size: 30px;
    margin: 20px;
}
.jumbotron ul {
    font-weight: 300;
}
.linea {
    display: inline-block;
    background-color: white;
    height: 2px;
    width: 80px;
}
